<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About | Ann</title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
  <nav>
    <h1><span style="color: #0ff;">A</span>nn</h1>
    <ul>
      <li><a href="/">Home</a></li>      
      <li><a href="/skills">My Skills</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main>
    <h2>About Me</h2>
    <section>
      <p>I am Ann Karanja, a passionate Web Developer with strong capabilities in both Data Science and Backend Development. I combine analytical thinking with robust engineering skills to build intelligent, data-driven applications and powerful backend systems.</p>
      <p>I have a degree in Applied Computer science and other certifications from online bootcamps</p>
    </section>

    <section>
      <h2>Services offered</h2>
      <ul>
        <li>Fronted web development</li>
        <li>Backend web development</li>
        <li>Full stack web development</li>
        <li>Landing pages</li>
        <li>Database management</li>
        <li>AI automation/ agents</li>        
        <li>Dtaa Science</li>
        <li>Statistical Analysis & Hypothesis Testing</li>
        <li>Data Visualization </li>
        <li>Machine Learning models</li>
        <li>Tech consulting</li>
      </ul>
    </section>    
  </main>
  <!-- <script src="{% static 'js/script.js'%}"></script>  -->
</body>
</html>
