{% extends "layout.html" %}
{% block  title%}
    Homepage
{% endblock  %}

{% block content %}
    <main>
        <div class="intro">      
        <h1>Hi, I’m <span>Ann Karanja</span>,<br>Python developer</h1>
        <h2><span id="typing"></span></h2>
        <p>Back End Developer / Data scientist</p>
        <a href="/hire me">Hire me!</a>
        </div>
        <div class="bg-line"></div>
  </main>
  {% comment %} <script src="{% static 'js/script.js' %}"></script> {% endcomment %}
{% endblock  %}