<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ann Karanja | Python Developer & Data Scientist</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
  <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

</head>
<body>
  <nav>
    <div class="sidebar">
      <div class="nav links">
        <h1><span style="color: #0ff;">A</span>nn</h1>    
        <ul>          
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/skills">My Skills</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <section id='contact'>
        <div class="social-icons">
          <a href="https://wa.me/254701157397?text=Hi%20Anne!" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="https://www.linkedin.com/in/ann-karanja-278a3a355?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Annie-815" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:karanjaann815@gmail.com">
            <i class="fas fa-envelope"></i>
          </a>
      </div>
    </section>
  </div>
  </nav>

  <main>
    <div class="intro">      
      <h1>Hi, I’m <span>Ann Karanja</span>,<br>Python developer</h1>
      <h2><span id="typing"></span></h2>
      <p>Back End Developer / Data scientist</p>
      <a href="/hire me">Hire me!</a>
    </div>
    <div class="bg-line"></div>
  </main>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
